@import "tailwindcss";

@font-face {
    font-family: CircularSpotify;
    src: url("/src/assets/fonts/CircularSpotifyText-Book.otf");
}

@theme {
    --font-spotify: CircularSpotify, "sans-serif";
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    position: absolute;
    right: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-zinc-700);
    /* border-radius: 4px; */
}

::-webkit-scrollbar-track {
    background: transparent;
}

:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
}

button {
    cursor: pointer;
}
