@import "tailwindcss";

@font-face {
    font-family: CircularSpotify;
    src: url("/src/assets/fonts/CircularSpotifyText-Book.otf");
}

@theme {
    --font-spotify: CircularSpotify, "sans-serif";
}
