@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CircularSpotify;
    src: url('/src/assets/fonts/CircularSpotifyText-Book.otf');
    font-weight: normal;
    font-style: normal;
}
